.weapons__card {
  background: #27272e;
  width: 97%;
  height: 520px;
  display: flex;
  border-radius: 5px;
  position: relative;
  margin-top: 26px;
}

@media (max-width: 767px) {
  .weapons__card {
    height: 100%;
  }
}
