.heroes__before-arrow {
  background: center/100% no-repeat url('../../../images/heroes/arrow.svg');
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  left: -100px;
  bottom: 36%;
}

@media (max-width: 1439px) {
  .heroes__before-arrow {
    left: -60px;
  }
}
@media (max-width: 1023px) {
  .heroes__before-arrow {
    display: none;
  }
}
