.screens__title {
  font-size: 48px;
  margin: 0;
  line-height: 65px;
  margin-top: 99px;
}

@media (max-width: 479px) {
  .screens__title {
    font-size: 34px;
    line-height: normal;
    margin-top: 40px; 
  }
}
