.weapons__wrap {
  display: grid;
  place-items: center;
  grid-template: 1fr / 1fr 1fr;
  margin: 0 auto;
}

@media (max-width: 1659px) {
  .weapons__wrap {
    grid-template: 2fr / 1fr;
    row-gap: 26px;
  }
}
