.nav__item {
}

.nav__item:last-child {
  margin-top: 0;
  display: none;
}

@media (max-width: 1023px) {
  .nav__item > .nav__link,.nav__item > .button {
    display: none;
  }
  .nav__item:last-child {
    cursor: pointer;
    display: block;
  }
}
