.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Cinzel';
  padding: 43px 100px;
}

@media (max-width: 1023px) {
  .nav {
    padding: 44px 50px;
  }
}

@media (max-width: 479px) {
  .nav {
    padding: 44px 20px;
  }
}
