.heroes__slider {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
}

@media (max-width: 1023px) {
  .heroes__slider {
    flex-direction: column;
    align-items: center;
    height: 2220px;
    margin-top: 64px;
  }
}
@media (max-width: 479px) {
  .heroes__slider {
    height: 1660px;
    margin-top: 34px;
  }
}
