.heroes__next-arrow {
  background: center/100% no-repeat url("../../../images/heroes/arrow.svg");
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
  cursor: pointer;
  position: absolute;
  right: -100px;
  bottom: 36%;
}

@media (max-width: 1439px) {
  .heroes__next-arrow {
    right: -60px;
  }
}
@media (max-width: 1023px) {
  .heroes__next-arrow {
    display: none;
  }
}
