.button {
  padding: 20px 33px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-family: 'Cinzel';
}

@media (max-width: 479px) {
  .button {
    padding: 20px;
    font-size: 12px;
  }
}
